
sudo: true
addons:
  apt:
    sources:
      - deadsnakes
    packages:
      - python3.7
dist: bionic
env:
  global:
    - CC_TEST_REPORTER_ID=19bd0503e6a203cc0df5e353251ded94a58b6a57d389666378b939cae2daa4b0
before_install:
  - sudo apt-get update
  - sudo apt-get install python3 python3-pip python3-setuptools python3-wheel -y
  - sudo apt-get install build-essential zlib1g-dev libncurses5-dev libgdbm-dev libnss3-dev libssl-dev libreadline-dev libffi-dev wget
  - pip3 install sphinx-js==3.0.1
matrix:
  include:
  
    - language: node_js
      node_js:
      - "10.15.3"
 
      cache:
      directories:
      - node_modules

      before_script:
      - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
      - chmod +x ./cc-test-reporter
      - ./cc-test-reporter before-build
      - npm install -g jsdoc


      script:
      - make -C docscripts/ html
      #- npm test -- --coverage --passWithNoTests
      - touch docs/html/.nojekyll
#   - CI=false npm run build

      after_script:
      - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
  # - COVERALLS_REPO_TOKEN=$coveralls_repo_token npm run coveralls
deploy:
  - provider: pages
    skip_cleanup: true
    verbose: true
    github_token: $GITHUB_TOKEN
    edge: true
    local_dir: docs/html
    keep_history: true
    on:
      branch: testing



# language: node_js
# node_js:
#   - "stable"
# cache:
#   directories:
#     - ~/.npm
# before_script:
#   - npm install -g npm@latest
# script:
#   - npm ci
#   - npx jest --ci
